* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

li {
  list-style: none; }

.hide {
  display: none; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
  *zoom: 1; }
.clearfix:after {
  clear: both; }

#calendar {
  width: 100%;
  height: auto; }

.wl.calendar {
  position: relative;
  width: 100%;
  -webkit-user-select: none;
  user-select: none; }
  .wl.calendar .head {
    width: 100%;
    padding: 10px 10px 0; }
    .wl.calendar .head .wl.wrap {
      position: relative;
      width: 100%; }
      .wl.calendar .head .wl.wrap .wl.item {
        width: 14.28571%;
        float: left;
        text-align: center;
        font-size: 12px;
        color: #B9B6B6;
        -webkit-transform: scale(0.7);
        transform: scale(0.7); }
  .wl.calendar .body {
    position: relative;
    width: 100%;
    height: 296px;
    padding: 0 10px;
    background: white;
    overflow: hidden; }
    .wl.calendar .body .month-pane {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0 10px;
      -webkit-transition: -webkit-transform 0s ease-in-out;
      transition: transform 0s ease-in-out; }
      .wl.calendar .body .month-pane:first-child {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0); }
      .wl.calendar .body .month-pane:nth-child(2) {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      .wl.calendar .body .month-pane:nth-child(3) {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0); }
      .wl.calendar .body .month-pane .wrap {
        position: relative;
        z-index: 1;
        width: 100%; }
        .wl.calendar .body .month-pane .wrap .row {
          width: 100%;
          margin: 10px 0; }
          .wl.calendar .body .month-pane .wrap .row .col {
            position: relative;
            float: left;
            width: 14.28571%;
            height: 36px;
            text-align: center;
            cursor: pointer; }
            .wl.calendar .body .month-pane .wrap .row .col .date-cell {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              width: 25px;
              height: 25px;
              cursor: pointer; }
              .wl.calendar .body .month-pane .wrap .row .col .date-cell .date {
                display: block;
                font-size: 16px; }
              .wl.calendar .body .month-pane .wrap .row .col .date-cell .label {
                display: block;
                position: relative;
                top: -2px;
                font-size: 12px;
                color: #B9B6B6;
                -webkit-transform: scale(0.7);
                transform: scale(0.7); }
            .wl.calendar .body .month-pane .wrap .row .col.active .date {
              color: #000; }
            .wl.calendar .body .month-pane .wrap .row .col.inactive .date {
              color: #B9B6B6; }
            .wl.calendar .body .month-pane .wrap .row .col.today .date {
              display: inline;
              color: #00A992; }
            .wl.calendar .body .month-pane .wrap .row .col.selected .date-cell {
              display: block;
              top: -6px;
              width: 36px;
              height: 36px;
              line-height: 36px;
              border-radius: 50%;
              border: 1px solid rgba(0, 169, 149, 0.3);
              background: rgba(0, 169, 149, 0.1); }
            .wl.calendar .body .month-pane .wrap .row .col.selected .label {
              display: none; }
            .wl.calendar .body .month-pane .wrap .row .col.selected.today .date-cell {
              background: #00a995; }
              .wl.calendar .body .month-pane .wrap .row .col.selected.today .date-cell .date {
                color: #fff; }

/*# sourceMappingURL=main.css.map */
